<div class="page">
    <div class="topnav">
        <div class="covid">
            <div style="height: 30px;width: 12px;background-color: #1B3568;"></div>
            <div style="padding-top: 5px;padding-left:8px;"><b>Covid-19</b></div>
        </div>
        <div style="padding-top: 5px;" class="contact"><a routerLink ="contact">Contact</a></div>
        <div style="padding-top: 5px;" class="home"><a routerLink="home">Home</a></div>
        <div style="padding-top: 5px;" class="notification"><a routerLink="notification">Notifications</a></div>
        <div style="padding-top: 5px;" class="hospital">Hospital</div>
        <div style="padding-top: 5px;" class="graph">Graph</div>
    </div>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    
</div>