.page{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 8% 92%;
}

.topnav{
    padding-top:10px;
    background-color:white;
    display: grid;
    grid-template-columns:55% repeat(5,auto) 5%;
    color: #6583C0;
    font-weight: bolder;
}

.container{
    background-color: #E2E5EC;
}

.covid{
    padding-left: 30px;
    display: grid;
    grid-template-columns: 2% 90%;
}

a{
    text-decoration:none;
    float: right;
    /* padding-right:15% ; */
}