<div class="page">
    <div class="topnav">
        <div class="covid">
            <div style="height: 30px;width: 12px;background-color: #1B3568;"></div>
            <div style="padding-top: 5px;padding-left:8px;"><b>Covid-19</b></div>
        </div>
        <div style="padding-top: 5px;" class="home"><a style="color: #343049;" routerLink="home">Home</a></div>
        <div style="padding-top: 5px;" class="contact"><a style="color: #343049;" routerLink ="contact">Contact</a></div>
        <div style="padding-top: 5px;" class="notification"><a style="color: #343049;" routerLink="notification">Notifications</a></div>
        <div style="padding-top: 5px;" class="hospital"><a style="color: #343049;" routerLink="dashboard">Dashboard</a></div>
        <div style="padding-top: 5px;" class="graph"><a style="color: #343049;" routerLink="graph">Graph</a></div>
    </div>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    
</div>