<div class="container">
    <div class="left">
        <div class="heading"> How important <br> is it really?</div>
        <div class="know">
            Knowing about advisory from the government and get notified,your <br>
            locality hospitals condition and cases of covid patients day by day.
        </div>
        <!-- <div class="origin">
            The deadly Coronavirus or COVID-19, which originated from China, has claimed more than 6,000 lives and infected lakhs of humans globally 
            in four months since it began in December 2019. The World Health Organisation (WHO) has declared Coronavirus or COVID-19 as a pandemic.
            Countries across the world are implementing several safety measures to curb the spread of the virus. Among several measures to stop the 
            spread of Coronavirus in India, the health ministry has set up Coronavirus Helpline Numbers in India for all states and Union Territories (UT).
        </div> -->
        <!-- <div class="origin"> <q> Nothing in life is to be feared <br> It is to be Understood </q></div> -->
        <div class="card-button">
              <mat-card style="width: 250px;background-color: #D5D7E3;">+91-11-239 780 46</mat-card>
              <div class="button">
              <button mat-raised-button style="background-color: #6F32BE;color: white;">C19-HelpLine</button>
              </div>
        </div>
    </div>
    <div class="right">
        <img src="../../assets/Group 13.png" height="100%" width="90%" alt="">
    </div>
</div>